modeloapp/__pycache__/
/apps/seguro/__pycache__/*
/apps/seguro/migrations/*
/apps/cliente/__pycache__/*
/apps/cliente/migrations/*
/apps/CategoriaVeiculo/__pycache__/*
/apps/CategoriaVeiculo/migrations/*
/apps/veiculo/__pycache__/*
/apps/veiculo/migrations/*
/apps/locacao/__pycache__/*
/apps/locacao/migrations/*
/apps/acessorio/__pycache__/*
/apps/acessorio/migrations/*
/apps/pagamento/__pycache__/*
/apps/pagamento/migrations/*
/apps/funcionario/__pycache__/*
/apps/funcionario/migrations/*
/apps/carrinholocacao/__pycache__/*
/apps/carrinholocacao/migrations/*